In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [4]:
df = spark.read.parquet('washing.parquet')
df.createOrReplaceTempView('washing')
df.show()

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0d86485d0f88d1f9d...|1-57940679fb8a713...|    4|      11|acceptable|     null|      77| null|        100|1547808723923|   null|
|0d86485d0f88d1f9d...|1-15ff3a0b304d789...|    2|    null|      null|     null|    null| 1046|       null|1547808729917|   null|
|0d86485d0f88d1f9d...|1-97c2742b68c7b07...|    4|    null|      null|       71|    null| null|       null|1547808731918|    236|
|0d86485d0f88d1f9d...|1-eefb903dbe45746...|   19|      11|acceptable|     null|      75| null|         86|1547808738999|   null|
|0d86485d0f88d1f9d...|1-5f68b4c72813c25...|    7|    null|      null|       75|    null| null|       null|1547808740927|    235|
|0d86485d0f88d1f9d...|1-cd4b6c57ddbe77e...|    5|    null|      null|     null|    null| 1014|       null|1547808744923|   null|
|0d86485d0f88d1f9d...|1-a35b25b5bf43aaf...|   32|      11|acceptable|     null|      73| null|         84|1547808752028|   null|
|0d86485d0f88d1f9d...|1-b717f7289a8476d...|   48|      11|acceptable|     null|      79| null|         84|1547808768065|   null|
|0d86485d0f88d1f9d...|1-c2f1f8fcf178b2f...|   18|    null|      null|       73|    null| null|       null|1547808773944|    228|
|0d86485d0f88d1f9d...|1-15033dd9eebb4a8...|   59|      11|acceptable|     null|      72| null|         96|1547808779093|   null|
|0d86485d0f88d1f9d...|1-753dae825f9a6c2...|   62|      11|acceptable|     null|      73| null|         88|1547808782113|   null|
|0d86485d0f88d1f9d...|1-b168089f44f03f0...|   13|    null|      null|     null|    null| 1097|       null|1547808784940|   null|
|0d86485d0f88d1f9d...|1-403b687c6be0dea...|   23|    null|      null|       80|    null| null|       null|1547808788955|    236|
|0d86485d0f88d1f9d...|1-195551e0455a24b...|   72|      11|acceptable|     null|      77| null|         87|1547808792134|   null|
|0d86485d0f88d1f9d...|1-060a39fc6c2ddee...|   26|    null|      null|       62|    null| null|       null|1547808797959|    233|
|0d86485d0f88d1f9d...|1-2234514bffee465...|   27|    null|      null|       61|    null| null|       null|1547808800960|    226|
|0d86485d0f88d1f9d...|1-4265898bb401db0...|   82|      11|acceptable|     null|      79| null|         96|1547808802154|   null|
|0d86485d0f88d1f9d...|1-2fbf7ca9a0425a0...|   94|      11|acceptable|     null|      73| null|         90|1547808814186|   null|
|0d86485d0f88d1f9d...|1-203c0ee6d7fbd21...|   97|      11|acceptable|     null|      77| null|         88|1547808817190|   null|
|0d86485d0f88d1f9d...|1-47e1965db94fcab...|  104|      11|acceptable|     null|      75| null|         80|1547808824198|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

### Spark dataframe syntax is similar to pandas

In [5]:
# check the dataframe name
df.columns

['_id',
 '_rev',
 'count',
 'flowrate',
 'fluidlevel',
 'frequency',
 'hardness',
 'speed',
 'temperature',
 'ts',
 'voltage']

In [8]:
# count how many rows of the dataframe
df.count()

2058

In [13]:
# we can use describe to show the statistics of the dataframe for different columns
df.describe().show()

+-------+--------------------+--------------------+------------------+--------+----------+-----------------+------------------+------------------+------------------+--------------------+------------------+
|summary|                 _id|                _rev|             count|flowrate|fluidlevel|        frequency|          hardness|             speed|       temperature|                  ts|           voltage|
+-------+--------------------+--------------------+------------------+--------+----------+-----------------+------------------+------------------+------------------+--------------------+------------------+
|  count|                2058|                2058|              2058|    1342|      1342|              448|              1342|               268|              1342|                2058|               448|
|   mean|                null|                null|504.26384839650143|    11.0|      null|70.36160714285714| 82.86438152011922|1059.4664179104477| 90.03800298062593|1.547809393114940...|230.90401785714286|
| stddev|                null|                null|394.26120131405895|     0.0|      null|5.950846318630469|21.762176641308958|52.013852150989514|6.1007610586219725|  388153.29745956016|  8.12966407420454|
|    min|0d86485d0f88d1f9d...|1-003919c147da18a...|                 1|      11|acceptable|               60|                70|              1000|                80|       1547808720911|               220|
|    max|e25acc0758bc7bd9f...|1-ffb07abc7a4e9b5...|              1342|      11|acceptable|               80|               195|              1289|               100|       1547810064867|               258|
+-------+--------------------+--------------------+------------------+--------+----------+-----------------+------------------+------------------+------------------+--------------------+------------------+

In [14]:
df.dtypes

[('_id', 'string'),
 ('_rev', 'string'),
 ('count', 'bigint'),
 ('flowrate', 'bigint'),
 ('fluidlevel', 'string'),
 ('frequency', 'bigint'),
 ('hardness', 'bigint'),
 ('speed', 'bigint'),
 ('temperature', 'bigint'),
 ('ts', 'bigint'),
 ('voltage', 'bigint')]

In [15]:
df.isna().sum()

AttributeError: 'DataFrame' object has no attribute 'isna'

In [9]:
from pyspark.sql import functions as F